---
import { getCollection } from 'astro:content';
import { getBlogParams } from '../../../../utils/collection';
import Layout from '../../../../layouts/Layout.astro';

export async function getStaticPaths() {
    const posts = await getCollection('blog');

    return posts.map((post) => ({
      params: getBlogParams(post),
      props: post,
    }));
}

const post = Astro.props;
---

<Layout title={post.data.title}>
    <h1>{post.data.title}</h1>
</Layout>