---
import { getCollection } from 'astro:content';

// Import the new function
import { getBlogParams } from '../../utils/collection';

const posts = await getCollection('blog');
---
<!doctype html>
<html lang="en">
  <head><!-- Omitted for brevity --></head>
  <body>
    <main>
      <h1>Blog posts</h1>
      <ul>
        {
          posts.map(post => {
            // Use the new function to generate the desired path
            const { path } = getBlogParams(post);
            return (
              <li>
                <a href={`/blog/${path}/`}>
                  <h2 class="title">{post.data.title}</h4>
                </a>
              </li>
            );
          })
        }
      </ul>
    </main>
  </body>
</html>