.flex {
    display: flex;
}
  
.grow {
    flex-grow: 1;
}
  
.grow-2 {
    flex-grow: 2;
}
  
.grow-3 {
    flex-grow: 3;
}
  
.grow-4 {
    flex-grow: 4;
}

.items-center {
    align-items: center;
}

.items-end {
  align-items: flex-end;
}