/* gap */
.gap {
    gap: var(--space--md);
}

.gap-xs {
    gap: var(--space--xs);
}

.gap-sm {
    gap: var(--space--sm);
}

.gap-lg {
    gap: var(--space--lg);
}

.gap-xl {
    gap: var(--space--xl);
}

.gap-2xl {
    gap: var(--space--2xl);
}

.gap-3xl {
    gap: var(--space--3xl);
}

.gap-4xl {
    gap: var(--space--4xl);
}

.gap-md-2xl {
    gap: var(--space--md-2xl);
}

.gap-x-2xl {
    column-gap: var(--space--2xl);
}