.size-xs {
    font-size: var(--size--xs);
}
  
.size-sm {
    font-size: var(--size--sm);
}
  
.size-md {
    font-size: var(--size--md);
}
  
.size-lg {
    font-size: var(--size--lg);
    line-height: var(--leading--md);
}

.size-xl {
    font-size: var(--size--xl);
}

.size-2xl {
    font-size: var(--size--2xl);
}

.size-3xl {
    font-size: var(--size--3xl);
}

.size-4xl {
    font-size: var(--size--4xl);
}