.flow {
    --flow-space: var(--space, 1lh);
}

.flow > * + *,
.flow--recursive * + * {
    margin-block-start: var(--flow-space);
}

.flow > :is(h1, h2, h3, h4, h5, h6) + *,
.flow--recursive :is(h1, h2, h3, h4, h5, h6) + * {
    margin-block-start: calc(var(--flow-space) / 2);
}