---
import Page from "../layouts/Page.astro";
import Posts from '../components/Posts.astro';
---

<Page title="Words">
  <div class="region wrapper content">
    <div class="flow">
      <h1>Words</h1>
      <Posts postsPerPage={5} />
    </div>
  </div>
</Page>
