---
import Layout from "./Layout.astro";
import Blocks from "@components/Blocks.astro";
import Wrapper from "@components/composition/Wrapper.astro";
import Stack from "@components/composition/Stack.astro";
import Flow from "@components/composition/Flow.astro";

const { post, title } = Astro.props;
---

<Layout title={title === false ? "" : title || post.post_title} metaDesc={post.post_excerpt} {...Astro.props}>
  <Wrapper tagName="article" className="content">
    <Stack space="xl">
      <h1>{post.post_title}</h1>
      <Flow>
        <Blocks blocks={post.block_content} />
      </Flow>
    </Stack>
  </Wrapper>
</Layout>
