---
import { getCollection } from 'astro:content';
import {getBlogParams} from '../../../utils/params';
import Layout from '../../../layouts/Layout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
    const postYears = new Map();

    posts.forEach(post => {
        const {year, month, path, slug} = getBlogParams(post);

        if (!postYears.get(year)) {
            postYears.set(year, []);
        }

        postYears.get(year).push(post);
    });


    return [...postYears.entries()].map(([year, posts]) => ({
        params: { year },
        props: { posts }
    }));
};

const { year } = Astro.params;
const { posts } = Astro.props;
---
<Layout title="Blog">
    <h2>Blog posts from {year}</h2>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>