---
import Paragraph from "./blocks/Paragraph.astro";
import Heading from "./blocks/Heading.astro";
import ImageBlock from "./blocks/ImageBlock.astro";
import List from "./blocks/List.astro";
import ListItem from "./blocks/ListItem.astro";
import Cover from "./blocks/Cover.astro";
import ProjectGrid from "./blocks/ProjectGrid.astro";
import Hero from "./blocks/Hero.astro";
import Text from "./blocks/Text.astro";
import Gallery from "./blocks/Gallery.astro";

const { blocks } = Astro.props;
---

<Fragment>
  {
    blocks.map((block: any) => {
      switch (block.blockName) {
        case null:
          return;
        case "core/paragraph":
          return <Paragraph {...block} />;
        case "core/heading":
          return <Heading {...block} />;
        case "core/image":
          return <ImageBlock {...block} />;
        case "core/list":
          return <List {...block} />;
        case "core/list-item":
          return <ListItem {...block} />;
        case "core/cover":
          return <Cover {...block} />;
        case "core/gallery":
          return <Gallery {...block} />;
        case "finell/project-grid":
          return <ProjectGrid {...block} />;
        case "finell/hero":
          return <Hero {...block} />;
        case "finell/text":
          return <Text {...block} />;
        default:
          if (block.innerBlocks.length) {
            const className = block.blockName.replace(/^[^\/]+\//, "");
            return (
              <div class={className}>
                <Astro.self blocks={block.innerBlocks} />
              </div>
            );
          }

          return <div class={block.blockName} set:html={block.innerHTML} />;
      }
    })
  }
</Fragment>
