---
const { url, title, target = "", className = "" } = Astro.props;
---

<a class:list={["button", className]} href={url} target={target}>{title}</a>

<style>
  .button {
    --border-width: 2px;
    --padding-inline: calc(1.5em - var(--border-width));
    --padding-block: calc(1em - var(--border-width));
    display: inline-block;
    border: var(--border-width) solid var(--color--foreground);
    padding: var(--padding-block) var(--padding-inline);
    line-height: 1;
    border-radius: 999em;
    text-decoration: none;
    background-color: var(--color--foreground);
    color: var(--color--background);
  }

  .button--outline {
    background-color: var(--color--background);
    color: var(--color--foreground);
  }

  .button:hover {
    --border-width: 4px;
    color: var(--hover-color);
    background-color: var(--hover-background);
    border-color: var(--hover--background);
  }
</style>
