---
interface Props {
    className?: string;
	useAside?: boolean;
    mainClass?: string;
    sidebarClass?: string;
}

const { className, useAside, mainClass, sidebarClass } = Astro.props;
---
<div class={`has-sidebar ${className}`}>
    <div class={mainClass}>
        <slot name="main" />
    </div>
    {useAside && (
        <aside class={`sidebar ${sidebarClass}`}>
            <slot name="sidebar" />
        </aside>
    ) || (
        <div class={`sidebar ${sidebarClass}`}>
            <slot name="sidebar" />
        </div>
    )}
</div>