.logo {
    color: var(--color--foreground);
    line-height: var(--leading--sm);
    text-decoration: none;
    font-size: var(--size--lg);
    display: grid;
    position: relative;
}

.logo .name {
    font-weight: bold;
}

.logo .title {
    color: #bbb;
}

.astro-code {
    padding: var(--space--md);
    margin-block: var(--space--lg);
}