body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: var(--size--md);
  line-height: var(--leading--lg);
  color: var(--color--foreground);
  background-color: var(--color--background);
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: var(--size--2xl);
  line-height: var(--leading--sm);
}

h2 {
  font-size: var(--size--xl);
  line-height: var(--leading--sm);
}

h3 {
  font-size: var(--size--lg);
  line-height: var(--leading--sm);
}

p {
  max-width: 60ch;
  text-wrap: pretty;
}

a:not(:has(*)) {
  display: inline-block;
  position: relative;
  line-height: 1.2;
}

a:not(:has(*)):hover {
  text-decoration: none;
}

a:not(:has(*)):hover:before {
  content: "";
  position: absolute;
  inset: 0 0 -.1em;
  border-block-end: 2px dashed currentColor;
}

code {
  font-size: 0.75em;
}

:not(.astro-code) > code {
  padding: 0.25em;
  background-color: #24292e;
}