/*
LAYOUTS

CONTENTS
1. FLOW
2. REPEL
3. LAYOUT-GRID
*/

/* FLOW */
.flow>*+* {
  margin-block-start: var(--flow-space, 1em);
}

/* REPEL */
.repel {
  display: flex;
  justify-content: space-between;
}

/* LAYOUT-GRID */
.layout-grid {
  display: grid;
  grid-template-columns:
    [full-start] 1fr var(--size--md) [wide-start] 1fr [content-start] min(calc(100% - var(--size--md) * 2), 60ch) [content-end] 1fr [wide-end] var(--size--md) 1fr [full-end];
}

.layout-grid>* {
  grid-column: content;
}

.layout-grid>.align-full {
  grid-column: full;
}

.layout-grid>.align-wide {
  grid-column: wide;
}

.layout-grid>.astro-code {
  grid-column: wide;
}

/* STACK */
.stack {
  display: flex;
  flex-direction: column;
  gap: var(--stack-space, var(--size--md));
}

/* SWITCHER */
.switcher {
  --threshold: 30rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space--md));
}

.switcher>* {
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - 100%) * 999);
}

.switch-sm {
  --threshold: 30rem;
}

.switch-md {
  --threshold: 45rem;
}

.switch-lg {
  --threshold: 60rem;
}

/* Cluster */
.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter);
}

/* Grid */
.grid {
  --min-width: 200px;
  --max-columns: 4;
  --w: max(var(--min-width), calc(100% * (1 / (var(--max-columns) + 1))));

  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(auto-fill, minmax(min(var(--w), 100%), 1fr));
}
