/*
LAYOUTS

CONTENTS
1. FLOW
2. REPEL
3. LAYOUT-GRID
*/

/* FLOW */
.flow>*+* {
  margin-block-start: var(--flow-space, 1em);
}

/* REPEL */
.repel {
  display: flex;
  justify-content: space-between;
}

/* WRAPPER */
.wrapper {
  width: var(--wrapper-width);
  padding-inline: var(--gutter);
  margin-inline: auto;
}

.wrapper.content {
  width: var(--content-width);
}

.wrapper .wrapper {
  padding-inline: 0;
}

.wrapper > .align-wide,
.wrapper > .astro-code {
  margin-inline-start: 50%;
  width: min(960px, 100vw);
  transform: translateX(-50%);
}

/* LAYOUT-GRID */
.layout-grid {
  display: grid;
  gap: var(--gutter);
  grid-template-columns:
    [full-start] 
    1fr 
    [wide-start] 
    1fr
    [content-start] 
    min(100% - var(--gutter) * 4, 60ch) 
    [content-end] 
    1fr 
    [wide-end] 
    1fr 
    [full-end];
}

.layout-grid > * {
  grid-column: content;
}

.layout-grid >.full {
  grid-column: full;
}

.layout-grid > .wide {
  grid-column: wide;
}

.layout-grid > .astro-code {
  grid-column: wide;
}

/* STACK */
.stack {
  display: flex;
  flex-direction: column;
  gap: var(--stack-space, var(--size--md));
}

/* SWITCHER */
.switcher {
  --threshold: 30rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space--md));
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - 100%) * 999);
}

.switch-sm {
  --threshold: 30rem;
}

.switch-md {
  --threshold: 45rem;
}

.switch-lg {
  --threshold: 60rem;
}

/* Cluster */
.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter);
}

/* Grid */
.grid {
  --min-width: 200px;
  --max-columns: 4;
  --w: max(var(--min-width), calc(100% * (1 / (var(--max-columns) + 1))));

  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(auto-fill, minmax(min(var(--w), 100%), 1fr));
}
