.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.region {
  padding-block: var(--space--xl);
}

.dashed-border {
  --spacing: 20px;
  --length: 10px;
  --thickness: 2px;
  background-image: repeating-linear-gradient(
    0deg, 
    var(--color--foreground), 
    var(--color--foreground) var(--length), 
    transparent var(--length), 
    transparent var(--spacing), 
    var(--color--foreground) var(--spacing)
  ), 
  repeating-linear-gradient(
    90deg, 
    var(--color--foreground), 
    var(--color--foreground) var(--length), 
    transparent var(--length), 
    transparent var(--spacing), 
    var(--color--foreground) var(--spacing)
  ), 
  repeating-linear-gradient(
    180deg, 
    var(--color--foreground), 
    var(--color--foreground) var(--length), 
    transparent var(--length), 
    transparent var(--spacing), 
    var(--color--foreground) var(--spacing)
  ), 
  repeating-linear-gradient(
    270deg, 
    var(--color--foreground), 
    var(--color--foreground) var(--length), 
    transparent var(--length), 
    transparent var(--spacing), 
    var(--color--foreground) var(--spacing)
  );
  background-size: var(--thickness) 100%, 100% var(--thickness), var(--thickness) 100% , 100% var(--thickness);
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}

/* Size */
.size-xs {
  font-size: var(--size--xs);
}

.size-sm {
  font-size: var(--size--sm);
}

.size-md {
  font-size: var(--size--md);
}

.size-lg {
  font-size: var(--size--lg);
  line-height: var(--leading--md);
}

.size-xl {
  font-size: var(--size--xl);
}

.size-2xl {
  font-size: var(--size--2xl);
}

.size-3xl {
  font-size: var(--size--3xl);
}

.size-4xl {
  font-size: var(--size--4xl);
}

/* padding */
.p {
  padding: var(--space--md);
}

.pb {
  padding-block: var(--space--md);
}

.pi {
  padding-inline: var(--space--md);
}

/* gap */
.gap {
  gap: var(--space--md);
}

.gap-xs {
  gap: var(--space--xs);
}

.gap-sm {
  gap: var(--space--sm);
}

.gap-lg {
  gap: var(--space--lg);
}

.gap-xl {
  gap: var(--space--xl);
}

.gap-2xl {
  gap: var(--space--2xl);
}

.gap-3xl {
  gap: var(--space--3xl);
}

.gap-4xl {
  gap: var(--space--4xl);
}

.gap-md-2xl {
  gap: var(--space--md-2xl);
}

/* Flex stuff */
.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.grow-3 {
  flex-grow: 3;
}

.grow-4 {
  flex-grow: 4;
}

/* Align */
.text-end {
  text-align: end;
}
