---
import Wrapper from "@components/composition/Wrapper.astro";
import Repel from "@components/composition/Repel.astro";
import MainNav from "@components/parts/MainNav.astro";
---

<Wrapper tagName="header" id="header">
  <Repel class="items-end space--lg">
    <a class="site-title fs--lg fw--400" href="/">Markus Finell</a>
    <MainNav />
  </Repel>
</Wrapper>

<style>
  #header {
    padding-block: var(--space--md);
    align-items: baseline;
  }

  .site-title {
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
  }
</style>
