/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/
body {
  background: var(--color-light);
  color: var(--color-dark);
  font-size: var(--size-step-0);
  font-family: var(--font-base);
  font-weight: var(--font-regular);
  line-height: var(--leading-standard);
}

h1 {
  font-weight: var(--font-thin);
  font-size: var(--size-step-5);
  line-height: var(--leading-flat);
}

header nav ul {
  margin-block: 0;
}

:is(h2, h3, h4) {
  font-weight: var(--font-regular);
}

p {
  max-width: 60ch;
}

a:not(:has(*)) {
  display: inline-block;
  position: relative;
  line-height: 1.2;
}

a:not(:has(*)):hover {
  text-decoration: none;
}

a:not(:has(*)):hover:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: -0.1em;
  border-block-end: 2px dashed currentColor;
}

.astro-code {
  padding: var(--space-xs);
}