/* Fluid size / space setup */
:root {
  --root-size: 16;
  --fluid-min-width: 320;
  --fluid-max-width: 1600;

  --fluid-screen: min(100vw, calc(var(--fluid-max-width) * 1px));
  --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / var(--root-size) * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));

  --min-scale: 1.1;
  --max-scale: 1.25;
}

/* Size */
:root {
  --size-xs-min: calc(var(--size-sm-min) / var(--min-scale));
  --size-xs-max: calc(var(--size-sm-max) / var(--max-scale));

  --size-sm-min: calc(var(--size-md-min) / var(--min-scale));
  --size-sm-max: calc(var(--size-md-max) / var(--max-scale));

  --size-md-min: calc(var(--root-size) * 1.2);
  --size-md-max: calc(var(--root-size) * 1.5);

  --size-lg-min: calc(var(--size-md-min) * var(--min-scale));
  --size-lg-max: calc(var(--size-md-max) * var(--max-scale));

  --size-xl-min: calc(var(--size-lg-min) * var(--min-scale));
  --size-xl-max: calc(var(--size-lg-max) * var(--max-scale));

  --size-2xl-min: calc(var(--size-xl-min) * var(--min-scale));
  --size-2xl-max: calc(var(--size-xl-max) * var(--max-scale));

  --size-3xl-min: calc(var(--size-2xl-min) * var(--min-scale));
  --size-3xl-max: calc(var(--size-2xl-max) * var(--max-scale));

  --size-4xl-min: calc(var(--size-3xl-min) * var(--min-scale));
  --size-4xl-max: calc(var(--size-3xl-max) * var(--max-scale));

  --size--xs: calc(((var(--size-xs-min) / var(--root-size)) * 1rem) + (var(--size-xs-max) - var(--size-xs-min)) * var(--fluid-bp));
  --size--sm: calc(((var(--size-sm-min) / var(--root-size)) * 1rem) + (var(--size-sm-max) - var(--size-sm-min)) * var(--fluid-bp));
  --size--md: calc(((var(--size-md-min) / var(--root-size)) * 1rem) + (var(--size-md-max) - var(--size-md-min)) * var(--fluid-bp));
  --size--lg: calc(((var(--size-lg-min) / var(--root-size)) * 1rem) + (var(--size-lg-max) - var(--size-lg-min)) * var(--fluid-bp));
  --size--xl: calc(((var(--size-xl-min) / var(--root-size)) * 1rem) + (var(--size-xl-max) - var(--size-xl-min)) * var(--fluid-bp));
  --size--2xl: calc(((var(--size-2xl-min) / var(--root-size)) * 1rem) + (var(--size-2xl-max) - var(--size-2xl-min)) * var(--fluid-bp));
  --size--3xl: calc(((var(--size-3xl-min) / var(--root-size)) * 1rem) + (var(--size-3xl-max) - var(--size-3xl-min)) * var(--fluid-bp));
  --size--4xl: calc(((var(--size-4xl-min) / var(--root-size)) * 1rem) + (var(--size-4xl-max) - var(--size-4xl-min)) * var(--fluid-bp));
}

/* Space */
:root {
  --space-2xs-min: (var(--space-md-min) * 0.25);
  --space-2xs-max: (var(--space-md-max) * 0.25);

  --space-xs-min: (var(--space-md-min) * 0.5);
  --space-xs-max: (var(--space-md-max) * 0.5);

  --space-sm-min: (var(--space-md-min) * 0.75);
  --space-sm-max: (var(--space-md-max) * 0.75);

  --space-md-min: var(--size-md-min);
  --space-md-max: var(--size-md-max);

  --space-lg-min: (var(--space-md-min) * 1.5);
  --space-lg-max: (var(--space-md-max) * 1.5);

  --space-xl-min: (var(--space-md-min) * 2);
  --space-xl-max: (var(--space-md-max) * 2);

  --space-2xl-min: (var(--space-md-min) * 4);
  --space-2xl-max: (var(--space-md-max) * 4);

  --space-3xl-min: (var(--space-md-min) * 6);
  --space-3xl-max: (var(--space-md-max) * 6);

  --space-4xl-min: (var(--space-md-min) * 8);
  --space-4xl-max: (var(--space-md-max) * 8);

  /* T-shirt sizes */
  --space--2xs: calc(((var(--space-2xs-min) / var(--root-size)) * 1rem) + (var(--space-2xs-max) - var(--space-2xs-min)) * var(--fluid-bp));
  --space--xs: calc(((var(--space-xs-min) / var(--root-size)) * 1rem) + (var(--space-xs-max) - var(--space-xs-min)) * var(--fluid-bp));
  --space--sm: calc(((var(--space-sm-min) / var(--root-size)) * 1rem) + (var(--space-sm-max) - var(--space-sm-min)) * var(--fluid-bp));
  --space--md: calc(((var(--space-md-min) / var(--root-size)) * 1rem) + (var(--space-md-max) - var(--space-md-min)) * var(--fluid-bp));
  --space--lg: calc(((var(--space-lg-min) / var(--root-size)) * 1rem) + (var(--space-lg-max) - var(--space-lg-min)) * var(--fluid-bp));
  --space--xl: calc(((var(--space-xl-min) / var(--root-size)) * 1rem) + (var(--space-xl-max) - var(--space-xl-min)) * var(--fluid-bp));
  --space--2xl: calc(((var(--space-2xl-min) / var(--root-size)) * 1rem) + (var(--space-2xl-max) - var(--space-2xl-min)) * var(--fluid-bp));
  --space--3xl: calc(((var(--space-3xl-min) / var(--root-size)) * 1rem) + (var(--space-3xl-max) - var(--space-3xl-min)) * var(--fluid-bp));
  --space--4xl: calc(((var(--space-4xl-min) / var(--root-size)) * 1rem) + (var(--space-4xl-max) - var(--space-4xl-min)) * var(--fluid-bp));

  /* One-up pairs */
  --space--2xs-xs: calc(((var(--space-2xs-min) / var(--root-size)) * 1rem) + (var(--space-xs-max) - var(--space-2xs-min)) * var(--fluid-bp));
  --space--xs-sm: calc(((var(--space-xs-min) / var(--root-size)) * 1rem) + (var(--space-sm-max) - var(--space-xs-min)) * var(--fluid-bp));
  --space--sm-md: calc(((var(--space-sm-min) / var(--root-size)) * 1rem) + (var(--space-md-max) - var(--space-sm-min)) * var(--fluid-bp));
  --space--md-lg: calc(((var(--space-md-min) / var(--root-size)) * 1rem) + (var(--space-lg-max) - var(--space-md-min)) * var(--fluid-bp));
  --space--lg-xl: calc(((var(--space-lg-min) / var(--root-size)) * 1rem) + (var(--space-xl-max) - var(--space-lg-min)) * var(--fluid-bp));
  --space--xl-2xl: calc(((var(--space-xl-min) / var(--root-size)) * 1rem) + (var(--space-2xl-max) - var(--space-xl-min)) * var(--fluid-bp));
  --space--2xl-3xl: calc(((var(--space-2xl-min) / var(--root-size)) * 1rem) + (var(--space-3xl-max) - var(--space-2xl-min)) * var(--fluid-bp));
  --space--3xl-4xl: calc(((var(--space-3xl-min) / var(--root-size)) * 1rem) + (var(--space-4xl-max) - var(--space-3xl-min)) * var(--fluid-bp));

  /* Custom pairs */
  --space--sm-lg: calc(((var(--space-sm-min) / var(--root-size)) * 1rem) + (var(--space-lg-max) - var(--space-sm-min)) * var(--fluid-bp));
  --space--md-2xl: calc(((var(--space-md-min) / var(--root-size)) * 1rem) + (var(--space-2xl-max) - var(--space-md-min)) * var(--fluid-bp));

  --gutter: var(--space--md);
}

/* Line height */
:root {
  --leading--none: 1;
  --leading--xs: 1.15;
  --leading--sm: 1.25;
  --leading--md: 1.5;
  --leading--lg: 1.75;
}

/* Colors */
:root {
  --color--off-black: #030303;
  --color--white: #fff;
  --color--foreground: var(--color--off-black);
  --color--background: var(--color--white);
  --color--accent: #002F6C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color--foreground: var(--color--white);
    --color--background: var(--color--off-black);
  }
}

/* Misc */
:root {
  --wrapper-width: min(1280px, 100vw);
  --content-width: min(60ch, 100vw);
}
