---
import "../css/app.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />
    <title>Markus Finell - Web Developer</title>

    <slot name="structured-data" />
  </head>
  <body class="stack">
    <header>
      <div class="wrapper pb repel">
        <a href="/" class="site-title">M</a>
        <nav>
          <ul class="cluster" role="list">
            <li><a href="/">Home</a></li>
            <li><a href="/words">Words</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <div class="wrapper region">
        <p>
          Find me on <a rel="me" href="https://bsky.app/profile/finell.dev">Bluesky</a>
        </p>
      </div>
    </footer>
  </body>
</html>
