---
import api from "../../api";
import Blocks from "../Blocks.astro";

interface Attrs {
  ordered?: boolean;
}

interface Props {
  attrs: Attrs;
  innerBlocks: any[];
  innerHTML: string;
}

const { attrs, innerHTML, innerBlocks } = Astro.props;
const content = api.stripTags(innerHTML);
---

<li class:list={api.blockClass(attrs)}>
  {content}
  {innerBlocks.length > 0 && <Blocks blocks={innerBlocks} />}
</li>
